* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  margin-right: 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
}

.frete {
  background-color: #C2185B;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  position: sticky;
  top: 0;
}

.frete span {
  transition: font-size 10s;

}

.frete span:hover {
  font-size: 50px;

}

.contato {
  display: flex;

}
article, form {
  flex: 1;  
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  color: #9b9b9b;
}

.radiobutton {
  flex-direction: row;
}

.contact-heading {
  font-size: 40px;
  font-weight: 600;
  color: #575757;
}

article p {
  color: #9b9b9b;
  padding: 10px 0;
}

input,
select {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: solid 1px #9b9b9b;
}

label {
  color: #9b9b9b;
  font-size: 18px;
  margin-bottom: 5px;
}

textarea {
  margin-bottom: 22px;
}

input#curriculo {
  border: none;
  margin-bottom: 22px;
}

button {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #c2185b;
  border: none;
  color: #fff;
}

/* pq justify-content não aplica? */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 248px;
  background-color: #c2185b;
  color: #ffff;
  padding: 0 40px;
  margin: 0 50px;
}
/* perguntar pq o link não herda a color do footer */
footer a {
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  padding: 5px 0;
  text-decoration: none;
}
.categorias,
.institucional {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.geral p {
width: 30%; 
}

.institucional h5, .categorias h5 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
