* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  margin-right: 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
}

.frete {
  background-color: #c2185b;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  position: sticky;
  top: 0;
}

.frete span {
  transition: font-size 10s;
}

.frete span:hover {
  font-size: 50px;
}
.encontre-seu-estilo h2 {
  text-align: center;
}

.encontre-seu-estilo h2{
font-size: 44px;
font-weight: 800;
padding: 20px 0;
}

.featured {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}

.off {
  color: #fff;
  background-color: #c2185b;
  text-align: center;
  padding: 20px 30px;
}

.promo {
  display: flex;
  justify-content: space-between;
}

.off h2 {
  font-weight: 800;
  font-size: 44px;
  padding: 20px 0;
}

.shoes {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: left;
  background-color: #fff;
}

.price {
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 20px;
}

.product-tittle {
  padding: 20px 0 5px;
  font-weight: 600;
  font-size: 16px;
}

.detalhes-sandalia {
  display: flex;
  justify-content: space-between;
  margin: 100px 120px 100px;
}

.detalhes-sandalia h2 {
  font-weight: 600;
  font-size: 39px;
  text-transform: uppercase;
  margin: 0;
}

.coluna-detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  background-color: #c2185b;
  padding: 20px 55px;
  margin: 10px 0;
}

.button a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 39px;
  padding: 10px 0;
}

footer {
  display: flex;
  background-color: #c2185b;
  color: #ffff;
  padding: 40px 100px 40px 120px; 
  justify-content: space-around;
}
footer a {
  color: #fff;
  font-size: 16px;
  font-weight: 400px;
  padding: 5px 0;
  text-decoration: none;
}

.categorias, .institucional {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.geral {
width: 30%;
}

.categorias h5, .institucional h5 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
